@import '../global.sass'

#shell
    display: block
    height: 100%

    > div
        height: 100%
        outline: none

section
    height: 100%

nav
    position: absolute
    top: 0
    left: 0
    right: 0
    pointer-events: none

    ul
        @include list-no-defaults

    .system.background
        float: right

    .scope-toggle
        width: $nav-button-size
        align-self: flex-end

        button
            width: 100%
            height: $space-text-box-height
            border-left: 1px solid $color-panel-opaque
            text-align: center

    .actions
        display: inline-block
        height: $nav-button-size
        padding: 0 $space-narrow
        vertical-align: bottom

        > li
            display: inline-block
            width: $nav-button-size
            max-width: $nav-button-size
            height: $nav-button-size
            text-align: center
            overflow: hidden
            transition: background $time-resize-animation, max-width $time-resize-animation

            &:hover
                background-color: $color-clickable-hover

            &.application
                -webkit-app-region: drag
                cursor: move

            &.variadic
                width: auto
                max-width: 50vw

            &.hidden
                min-width: 0
                max-width: 0

            > span
                padding: 0 $space-narrow

        svg
            @include svg-icon($nav-icon-size)
            margin-top: ($nav-button-size - $nav-icon-size) / 2

    .pill
        display: inline-block
        background: rgba(28, 98, 185)
        min-width: 1.2em
        padding: 0 $space-narrow
        font-size: 80%
        vertical-align: bottom
        text-align: center
        border-radius: $space-narrow
        margin: 0 0 (-$space-narrow) (-$space-default)

// Shared components, These are considered a part of the interface
.panel
    .background
        display: inline-block
        border-radius: 0 0 $space-narrow/2 $space-narrow/2
        background-color: $color-panel
        pointer-events: auto
        transition: box-shadow $time-resize-animation * 2, background-color $time-resize-animation

    &.focus .background, .background:hover
        box-shadow: 0 0 $space-default $color-panel-shadow
        background-color: $color-panel-focus
        backdrop-filter: blur(0.2em)

.icon-spin
    animation: ia-spin 1s infinite linear

@keyframes ia-spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(359deg)
